<!DOCTYPE html>
<html lang="en">
<head>
  <title>Archive Customer Profiles</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">
</head>
<body>

<div style="background:#009ADA !important" class="jumbotron-fluid">
    <img src="/images/Proofpoint-logo-Reversed.png" alt="Proofpoint Logo" style="max-height: 70px;">
</div>

 <!-- Navigation Menu -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top sticky-top">
<!-- Brand -->
<a class="navbar-brand" href="/">Archive Customer Profiles</a>
<ul class="navbar-nav">
<!-- Dropdown -->
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Menu
    </a>
    <div class="dropdown-menu">
        <% if (locals.user) { %>
        <a class="dropdown-item" href="/index">Customer Index</a>
        <a class="dropdown-item" href="/">My Customers</a>
        <a class="dropdown-item" href="/new">New Customer</a>
        <a class="dropdown-item" href="/activity">Activity Report</a>
        <a class="dropdown-item" href="/logout">Logout <strong><%= user.sAMAccountName %></strong></a>
        <% } else { %>  
        <a class="dropdown-item" href="/login">Login</a>
       <% } %>
    </div>
    </li>
</ul>
</nav> 
<br>

<!-- Notifications -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <% if (locals.error) { %>
                <div class="alert alert-danger alert-dismissible fade show" id="error-alert">
                    <button type="button" class="close" id="close" data-dismiss="alert"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                    <%= error %>
                </div>
            <% } %>
            <% if (locals.success) { %>
                <div class="alert alert-success alert-dismissible fade show" id="success-alert">
                    <button type="button" class="close" id="close" data-dismiss="alert"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                    <%= success %>
                </div>
            <% } %>
            <% if (locals.message > 0) { %>
                <div class="alert alert-primary alert-dismissible fade show" id="info-alert">
                    <button type="button" class="close" id="close" data-dismiss="alert"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                    <p><%= message %></p>
                </div>
            <% } %>

        </div>
    </div>
</div>


<br>

