<div class="godown-60" id="godown"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div id="accordion">
                <div class="card bg-light text-muted">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            <strong>Upload a File for <%= locals.result.customer.name %></strong>
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <form id="frmUpload" action="javascript:uploadFile()" method="post" enctype="multipart/form-data">
                            <div class="custom-file mb-3">
                                <input type="file" name="file" id="file" class="custom-file-input" required/>
                                <label for="file" class="custom-file-label" id="custom-file-label">Choose File</label>
                            </div>
                            <input type="hidden" id="customername" name="customername" value="<%= locals.result.customer.name %>"/>
                            <input type="submit" id="btnUpload" class="btn btn-primary btn-block" value="Upload">
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Upload Row -->
    <div class="row">
        <div class="col-md-10 m-auto">
            <h6 class="text-center display-4 my-4">File List</h6>
            <div class="table-responsive-lg">
                <table class="table table-hover" id="tblFileList">
                    <thead>
                        <tr>
                          <th>Filename</th>
                          <th>Created Date</th>
                          <th>Uploaded By</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="tableBody">

                      </tbody>
                </table>



        </div>
    </div>
</div>


<script>
   // Make the filename appear on the Select box
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });


    
    $(document).ready(
        loadFileList()
        )

    // Delete a file
    $(document).on('click', '.btn-delete-file', function(){ 
        delConfirm = confirm("Delete file?");
        if(delConfirm) {
            var delRequest = new XMLHttpRequest()
            delRequest.open('POST', '/delete/' + this.id)
            delRequest.send()
            jQuery(this).parent().parent().remove()
        }
    });

    // Load the list of files and display it in a table
    function loadFileList() {
            //alert("loading file list")
            // Clear the tableBody
            $("#tableBody").empty();
            // Create the table body
            var cn = $('#customername').val()
            console.log("Customer Name = " + cn)
            $.ajax({
                url: '/getFiles/' + cn,
                data: {},
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    jQuery.each(data, function(index, value) {
                        var newRow = '<tr id="' + value.fileID + '">'
                            newRow = newRow + '<td><a href="/getfile/' + value.fileID + '">' + value.filename + '</a></td>'
                            newRow = newRow + '<td>' + value.createdAt + '</td>'
                            newRow = newRow + '<td>' + value.uploadedBy + '</td>'
                            newRow = newRow + '<td>'
                            newRow = newRow + '<button type="button" id="' + value.fileID + '" class="btn btn-danger btn-delete-file">Delete</button>'
                            newRow = newRow + '</td></tr>'
                        $("tbody#tableBody").append(newRow)
                    })
                }
            })
        }


    // Upload the file when user clicks btnUpload
    jQuery("#btnUpload").click(function() {
        var form = document.getElementById('frmUpload')
        var formData = new FormData(form)
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/upload', true)
        xhr.onload = function() {
            // alert("uploaded")
            jQuery("#custom-file-label").html("Choose File")
            loadFileList()
        }
        xhr.send(formData)
      })

 


</script>