<div class="godown-60" id="godown"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">

            <div class="card bg-secondary text-white">
                <div class="card-header">
                    <strong>Upload a File for <%= locals.result.customer.name %></strong>
                </div>
                <div class="card-body">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="custom-file mb-3">
                            <input type="file" name="file" id="file" class="custom-file-input" />
                            <label for="file" class="custom-file-label">Choose File</label>
                        </div>
                        <input type="hidden" id="customername" name="customername" value="<%= locals.result.customer.name %>"/>
                        <input type="submit" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Upload Row -->
    <div class="row">
        <div class="col-md-10 m-auto">
            <h6 class="text-center display-4 my-4">File List</h6>
            <div class="table-responsive-lg">
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th>Filename</th>
                          <th>Created Date</th>
                          <th>Uploaded By</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="tableBody">

                      </tbody>
                </table>



        </div>
    </div>
</div>


<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    $(document).ready(
        function() {
            var cn = $('#customername').val()
            console.log("Customer Name = " + cn)
            $.ajax({
                url: '/getFiles/' + cn,
                data: {},
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    jQuery.each(data, function(index, value) {
                        var newRow = '<tr><td>' + value.filename + '</td>'
                            newRow = newRow + '<td>' + value.createdAt + '</td>'
                            newRow = newRow + '<td>' + value.uploadedBy + '</td>'
                            newRow = newRow + '<td><form method="POST" action="/delete/'+ value.fileID + '">'
                            newRow = newRow + '<button type="submit" class="button btn btn-danger btn-block">'
                            newRow = newRow + 'Delete</button></form></td></tr>'
                        $("tbody#tableBody").append(newRow)
                    })
                }
            })
        })
</script>