
  .custab {
    border: 1px solid #cccccc;
    padding: 5px;
    margin-top: 2%;
    box-shadow: 0.5px 0.5px 0.5px #cccccc;
    transition: 0.5s;
  }

  .custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
  }

  .container {
    max-width: 90%;
  }

  .input-group>.input-group-prepend {
  flex: 0 0 35%;
  }
  .input-group .input-group-text {
      width: 100%;
  }

  body { 
    padding-top: 0; 
    background-color: #ffffff;
}

  input.required:placeholder-shown {
    border: 1px solid black;
  }
 
  select:has(option:selection[value=""]) {
    border: 1px solid red;
  }

  #godown{
    height: 60px;}


