<div id="editActiveDirectoryDetails">
    <div class="row">
        <div class="col-xl-6 mt-2" style="background-color:white;">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="mb-0">AD Info</h4>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label form-control-label">Number of Forests</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control number_of_forests required" placeholder="No response set" value="<%= result.email_questions.active_directory_details.number_of_forests %>"
                                name="email_questions[active_directory_details][number_of_forests]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label form-control-label">Domain Structure</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control structure" placeholder="No response set" value="<%= result.email_questions.active_directory_details.structure %>"
                            name="email_questions[active_directory_details][structure]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label form-control-label">Number of AD Objects</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control AD_size required" placeholder="No response set" value="<%= result.email_questions.active_directory_details.ad_objects %>"
                            name="email_questions[active_directory_details][ad_objects]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>
