<div id="editO365Details">
    <div class="card h-100">
        <div class="card-header">
            <h4 class="mb-0">O365 Info</h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">What O365 license level do you have?</label>
                <div class="col-lg-8">
                    <%- make_custom_dropdown("email_questions[O365_details][O365_version]", result.email_questions.O365_details.O365_version, ["e1", "e2", "e3", "e4", "e5"], "O365_version") %>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">Are you maintaining AD on-prem?</label>
                <div class="col-lg-8">
                    <%- make_custom_dropdown("email_questions[O365_details][is_maintaining_on_prem_AD]", result.email_questions.O365_details.is_maintaining_on_prem_AD, ["Yes", "No"], "is_maintaining_on_prem_AD") %>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">Are you maintaining AD in Azure?</label>
                <div class="col-lg-8">
                    <%- make_custom_dropdown("email_questions[O365_details][is_maintaining_azure]", result.email_questions.O365_details.is_maintaining_azure, ["Yes", "No"], "is_maintaining_azure") %>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">When you create and admin mailboxes, do you do that in the on-prem AD, or in Azure?</label>
                <div class="col-lg-8">
                    <%- make_custom_dropdown("email_questions[O365_details][is_admin_in_AD_or_azure]", result.email_questions.O365_details.is_admin_in_AD_or_azure, ["On-prem AD", "Azure"], "is_admin_in_AD_or_azure") %>
                </div>
            </div>
        </div>
</div>